<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.godico.devhub">
    <application android:allowBackup="true" android:label="GODICO DevHub" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name="com.google.androidgamesdk.GameActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|uiMode|density">
            <meta-data android:name="android.app.lib_name" android:value="rust_core" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
